<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="shortcut icon" href="#">
    <title>about</title>
</head>
<style>
    *{
        margin: 0;
        padding: 0;
        list-style: none;
    }
    body{
        height: 790px;
        margin: auto;
    }
    h1,h4{
        text-align:center;
    }
    h4{
        font-weight:lighter;
    }
</style>
<body style="background-color:transparent">
    <div style="color:#7b809a;">
        <h1>Green Space</h1>
        <h4>“The 2030 Agenda for Sustainable Development, adopted by all United Nations Member States in</h4>
        <h4>2015, provides a shared blueprint for peace and prosperity for people and the planet, now and into</h4>
        <h4>the future. At its heart are the 17 Sustainable Development Goals (SDGs), which are an urgent call</h4>
        <h4>for action by all countries - developed and developing - in a global partnership. They recognize that</h4>
        <h4>ending poverty and other deprivations must go hand-in-hand with strategies that improve health and</h4>
        <h4>education, reduce inequality, and spur economic growth - all while tackling climate change and</h4>
        <h4>working to preserve our oceans and forests.”</h4>
        <h4>- United Nations General Assembly (United Nations, 2022)</h4>
        <h4>&nbsp;</h4>
        <h4>In these 17 goals, the 11th goal focuses on “Sustainable Cities and Communities” (United Nations,</h4>
        <h4>2022), and the seventh target of this goal is to “provide universal access to safe, inclusive and</h4>
        <h4>accessible, green and public spaces, in particular for women and children, older persons and</h4>
        <h4>persons with disabilities” (United Nations, 2022).</h4>
        <h4>&nbsp;</h4>
        <h1>Future Vision</h1>
        <h4>On this site we aim to explore how everybody can contribute to making Urbanised environments greener.</h4>
        <h4>While it may be in the hands of governments and city councils to make parks, playgrounds, and plant trees</h4>
        <h4>and plants around the community, everyone can find a way to contribute to the green spaces they have</h4>
        <h4>access to. Whether you live in a small apartment, a clustered unit block, or even a small home, everyone</h4>
        <h4>should have access to the knowledge that allows them to make their own space greener. The benefits are</h4>
        <h4>numerous, including physical health benefits, mental health benefits, and social benefits.</h4>
    <div>
</body>
</html>