<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="../static/css/bootstrap.min.css">
        <link rel="shortcut icon" href="#">
        <script src="https://cdn.tailwindcss.com"></script>
        <title>home</title>
    </head>
    <style>
        *{
            margin: 0;
            padding: 0;
            list-style: none;
        }
        body{
            height: 2000px;
            margin: auto;
        }
        h1,h4{
            text-align:center;
        }
        h4{
            font-weight:lighter;
        }
    </style>
    <body style="background-color:transparent">
        <div class="container">
            <h1 class="text-5xl">We can help you get access to the green space easily</h1>
            <div class="flex mt-20">
                <img src="../static/img/Featured image.png" style="border-radius:20px;overflow:hidden" class="w-1/2">
                <p class="w-1/2 ml-10 text-2xl flex justify-center items-center">Our maps can help you quickly find green spaces in Melbourne CBD. Our Plants page stores common local Melbourne plants that are suitable for planting. To create a private green space, either in the backyard or indoors, you can add these plants to your personal center , we will provide basic information about the plants and remind you to water them.</p>
            </div>
        </div>

        <div class="container">
            <p class="text-5xl mt-20">About our map</p>
            <div class="flex mt-20">
                <img src="../static/img/map1.png" style="border-radius:20px;overflow:hidden" class="w-1/3">
                <p class="w-1/3 ml-10 text-2xl flex justify-center">We have marked on the map the green space located in Melbourne CBD. You can click to see their detailed information, which is displayed in the left column.</p>
                <img src="../static/img/map2.png" style="border-radius:20px;overflow:hidden" class="w-1/3">
            </div>
        </div>

        <div class="container">
            <div class="flex mt-20">
                <div class="w-1/2 flex justify-center">
                    <img src="../static/img/map3.png" style="border-radius:20px;overflow:hidden" class="w-1/2">
                </div>
                <div class="w-1/2 flex justify-center">
                    <p class="w-4/5 ml-10 text-2xl flex justify-center">In addition, you can search for any location, whether it is where you are or where you are going, through the search function, and we will list the green spaces around that location for you.</p>
                </div>
            </div>
            <a class="text-xl text-blue-400 flex justify-end mt-10" href="/maps" target="screen">
                Go to the map >>
            </a>
        </div>

        <div class="container">
            <p class="text-5xl mt-20">About our plants page</p>
            <div class="flex mt-20">
                <img src="../static/img/plant1.png" style="border-radius:20px;overflow:hidden" class="w-1/2">
                <p class="w-1/2 ml-10 text-2xl flex justify-center items-center">Our plants page is designed for you to create your own green space. You can grow plants in your own yard, or at home. We have included plants that are commonly found in the Melbourne area that are suitable for growing.</p>
            </div>
        </div>

        <div class="container">
            <div class="flex mt-20">
                <div class="w-1/2 flex justify-center">
                    <p class="w-3/5 ml-10 text-2xl flex justify-center items-center">You can use the filters to pick the features of the plants and finally find the plants you want to grow.</p>
                </div>
<!--                <div class="w-1/2 flex justify-center">-->
                    <img src="../static/img/plant2.png" style="border-radius:20px;overflow:hidden" class="w-1/2">
<!--                </div>-->
            </div>
            <a class="text-xl text-blue-400 flex justify-end mt-10" href="/plant" target="screen">
                Go to the plant page >>
            </a>
        </div>

        <div class="container">
            <p class="text-5xl mt-20">About User centre</p>
            <div class="flex mt-20">
                <img src="../static/img/user1.png" style="border-radius:20px;overflow:hidden" class="w-1/2">
                <p class="w-1/2 ml-10 text-2xl flex justify-center items-center">In addition, if you register and log in to our website, you can add the plants you grow to your personal page when browsing plants to help you keep track of the plants you grow. We can also remind you to water each plant on time to ensure healthy plant growth.</p>
            </div>
            <a class="text-xl text-blue-400 flex justify-end" href="/plant" target="screen">
                Go to your user center >>
            </a>
        </div>

        <div class="container">
            <p class="text-5xl mt-20">Getting Started with your plants</p>
            <div class="flex flex-col mt-20 space-y-8">
                <div class="text-2xl">There are lots of other resources available  online for people to explore, such as Gardening Australia, Better Homes and Gardens and</div>
                <a class="text-2xl underline" href="https://www.abc.net.au/gardening/indoor-plants/12920308">Gardening Australia Indoor Plant Series (https://www.abc.net.au/gardening/indoor-plants/12920308)</a>
                <a class="text-2xl underline" href="https://www.bhg.com.au/garden">Better Homes and Gardens (https://www.bhg.com.au/garden)</a>
                 <div class="text-2xl">On these pages, you can learn a lot more about the best locations, watering habits, soils, and lighting for your plants, with blogs and videos to help you engage and visualise what your spaces can look like.</div>
            </div>
        </div>
    </body>
</html>